<div class="flex md:flex-row flex-col text-center md:text-left lg:gap-16 md:gap-8 gap-8 p-8 max-w-[1300px] w-full mx-auto justify-center text-gray-400 font-light">
    <!-- Logo et nom tribu -->
    <div class="text-3xl font-semibold text-white flex gap-3 items-center justify-center">
        <img src="/assets/img/logo-tribu-doya.png" alt="Logo tribu d'oya" class="h-[96px] w-auto">
        <h2>La tribu d'Oya</h2>
    </div>
    <!-- Coordonnées -->
    <div>
        <h3 class="font-semibold mb-2 text-white">COORDONNEES</h3>
        <p>35 rue Vergniaud</p>
        <p class="mb-4">59000 Lille</p>
    </div>
    <!-- Navigation -->
    <div>
        <h3 class="font-semibold mb-2 text-white">NAVIGATION</h3>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/compagnie/">La compagnie</a></li>
            <li><a href="/projets/">Les projets</a></li>
            <li><a href="/reseaux/">Nous suivre</a></li>
        </ul>
    </div>
    <!-- Les projets -->
    <div>
        <h3 class="font-semibold mb-2 text-white">LES PROJETS</h3>
        <ul>
            <li><a href="/projets/detail/?name=trafiquee">Trafiquée</a></li>
            <li><a href="/projets/detail/?name=olympe">Olympe</a></li>
        </ul>
    </div>
    <div class="text-sm">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSewSgWZY9YDsHSC18c_kRbG-TqAj5YUsXkmHbkRxm8cYNgFUg/viewform?usp=header" class="flex items-center gap-2 hover:text-white transition-colors mb-2 justify-center md:justify-start">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
            </svg>
            Inscrivez-vous à la newsletter
        </a>
        <p>Site conçu et développé par Nicolas Declerck</p>
        <p>nicoladeclerck@gmail.com</p>
    </div>
</div>