<div class="flex justify-between items-center p-5 z-50">
    <h1 class="md:text-4xl text-2xl font-semibold text-anime flex gap-4 items-center">
        <img src="/assets/img/logo-tribu-doya.png" alt="Logo tribu d'oya" class="h-[48px] w-auto">
        <a href="/">La tribu d'Oya</a>
    </h1>
    <!-- Hamburger menu -->
    <div class="md:hidden cursor-pointer relative z-50" data-action="open-menu">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        <!-- Mobile menu -->
        <nav class="hidden flex flex-col text-nowrap text-right space-y-5 bg-black p-4 rounded-md absolute right-0 top-12 z-50" data-device="mobile">
            <a href="/compagnie/">La compagnie</a>
            <a href="/projets/">Les projets</a>
            <a href="/reseaux/">Suivre nos actus</a>
        </nav>
    </div>
    <!-- Desktop menu -->
    <nav class="hidden md:flex gap-8">
        <a href="/compagnie/" class="pb-2 border-b-2 border-black hover:border-b-2 hover:border-white transition ease-in-out duration-300">La compagnie</a>
        <a href="/projets/" class="pb-2 border-b-2 border-black hover:border-b-2 hover:border-white transition ease-in-out duration-300">Les projets</a>
        <a href="/reseaux/" class="pb-2 border-b-2 border-black hover:border-b-2 hover:border-white transition ease-in-out duration-300">Suivre nos actus</a>
    </nav>
</div>


